{
  "defaultConfig":{
    "api":"Preloader",
    "buildType":"develop",
    "resourcePacksDir":"assets/resource_packs/"
  },
  "compile":[
    {
      "path":"something.js",
      "sourceType":"preloader"
    }
  ],
  "resources":[
    {
      "path":"resources/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[],
  "javaDirs":[],
  "nativeDirs":[]
}